*.o
*.tmp
*.raw
*.json
firmware/*.bin
commandline/littleWire_util.o
commandline/micronucleus
commandline/micronucleus_lib.o
commandline/micronucleus.dSYM
commandline/micronucleus.dSYM
commandline/opendevice.o
firmware/libs-device/osccal.c.lst
firmware/main.bin
firmware/main.c.lst
firmware/main.map
firmware/main.o
firmware/crt1.o
firmware/main.lss
firmware/usbdrv/oddebug.c.lst
firmware/main.hex
firmware/osccalASM.o
firmware/usbdrv/oddebug.o
firmware/usbdrv/usbdrvasm.o
firmware/.vscode/*